body {
}

.container {
  width: 400px;
  background-color: red;
  margin: 0 auto;
}

.sound.template {
    display: none;
}

.sound {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: grey;
}
.sound:hover {
    background-color: black;
}

.sound audio {
    display: none;
}